@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f8f8f8;
}
/*-----------GLOBAL-------------*/
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.container {
  max-width: 85%;
  margin: auto;
}
.headerContainer {
  max-width: 90%;
  margin: auto;
}
.flexSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  background: none;
  border: none;
  overflow: none;
  font-weight: bold;
}
.outline-btn {
  border: 2px solid #000;
  padding: 14px 40px;
}
.row {
  width: 50%;
}
/*-----------GLOBAL-------------*/
/*-----------header-------------*/
header {
  height: 10vh;
  line-height: 10vh;
  background-color: #fff;
  box-shadow: 0px 7px 2px -3px rgba(89, 89, 89, 0.02);
}
header a {
  color: #767676;
  margin: 0 20px;
  font-size: 18px;
  font-weight: 500;
}
.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_toggler {
  font-size: 20px;
  display: none;
}
@media screen and (max-width: 768px) {
  .nav_toggler {
    display: block;
  }
  .nav_menu {
    position: absolute;
    left: 0;
    top: 10vh;
    height: 100vh;
    padding: 50px;
    width: 100%;
    flex-direction: column;
    background-color: #a06c47;
    transform: translateX(100%);
    transition: 0.5s;
    z-index: 999;
  }
  header a {
    color: #fff;
  }
}
.nav_active {
  transform: translateX(0%);
}
/*-----------header-------------*/
/*-----------home-------------*/
.home {
  height: 90vh;
  position: relative;
}
.home h1 {
  font-size: 100px;
  margin-top: 45%;
}
.home h1 span {
  color: #fff;
  -webkit-text-stroke: 1px #767676;
}
.home h3 {
  font-size: 20px;
  color: #767676;
  font-weight: 600;
}
.home img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  clip-path: polygon(28% 0, 100% 0, 100% 50%, 100% 100%, 26% 100%, 0% 50%);
  object-fit: cover;
}
/*-----------home-------------*/
/*-----------about-------------*/
.flex {
  display: flex;
}
.mtop {
  margin-top: 80px;
}
.baget {
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.05);
  font-weight: 600;
  text-transform: uppercase;
}
.primary-btn {
  padding: 20px 60px;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}
.primary-btn:hover {
  background: transparent;
  color: #000;
  border: 2px solid #000;
}
.about {
  background: #fff;
  padding: 100px 0;
}
.about .right {
  padding: 70px 80px 0 0;
}
.about h2 {
  font-size: 40px;
  margin: 20px 0;
}
p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
  color: #767676;
}
.about button {
  margin-top: 40px;
}
/*-----------about-------------*/
/*-----------portfolio-------------*/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.portfolio {
  position: relative;
}
.portfolio h1 {
  margin-top: 20px;
  font-size: 30px;
}
.portfolio li {
  margin-left: 30px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.5s;
}
.portfolio li:hover,
.portfolio li.active {
  background: #000;
  color: #fff;
  padding: 5px 10px;
}
.portfolio img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.portfolio .box {
  position: relative;
}
.portfolio .overlay h1 {
  margin: 0;
  font-size: 20px;
}
.portfolio .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}
.portfolio .box:hover .overlay {
  opacity: 1;
}

/*-----------portfolio-------------*/
/*-----------skill-------------*/
.skill {
  padding: 7% 0;
  background-color: #fff;
}
.skill .left {
  padding-right: 50px;
}
.skill h1 {
  font-size: 40px;
  margin-bottom: 50px;
}
.progress {
  background-color: #d5d5d5;
  border-radius: 20px;
  position: relative;
  margin: 80px 0;
  height: 5px;
  width: 90%;
}
.progress h4 {
  position: absolute;
  color: black;
  top: -30px;
  font-size: 18px;
  font-weight: 500;
}
.progress h4:nth-child(2) {
  right: 0;
  font-size: 17px;
  font-weight: 400;
  color: #7f9cb5;
}
.progress-done {
  background-color: #000;
  border-radius: 20px;
  color: #fff;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}
/*-----------skill-------------*/
/*-----------Wrapper-------------*/
.Wrapper {
  background-image: url("../public/images/video.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  color: #fff;
  text-align: center;
}
.Wrapper .container {
  max-width: 50%;
  margin: auto;
}
.Wrapper i {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  color: #000;
  font-size: 40px;
  text-align: center;
  line-height: 100px;
}
.Wrapper h1 {
  font-size: 50px;
  margin: 40px 0;
}
.Wrapper .outline-btn {
  font-size: 20px;
  font-weight: 500;
  padding: 20px 60px;
  border: 2px solid #fff;
  color: #fff;
}
/*-----------Wrapper-------------*/
/*-----------Brading-------------*/
.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.Brading {
  padding: 50px 0;
  background-color: #fff;
}
.Brading img {
  filter: brightness(2);
  transition: 0.5s;
}
.Brading img:hover {
  filter: brightness(1);
  cursor: pointer;
}
/*-----------Brading-------------*/
/*-----------Testimonials-------------*/
.Testimonials {
  padding: 80px 0;
}
.Testimonials h1 {
  font-size: 35px;
  margin-top: 30px;
}
.Testimonials .left {
  padding-right: 100px;
}
.details {
  margin-top: 50px;
}
.details img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.details .name {
  margin: 10px 40px;
}
.details p {
  margin: 0;
}
/*-----------Testimonials-------------*/
/*-----------blog-------------*/
.blog {
  background-color: #fff;
  padding: 100px 0;
}
.blog h1 {
  margin-top: 30px;
  font-size: 35px;
}
.blog h2 {
  margin-bottom: 20px;
}
.blog .content span {
  color: #767676;
  font-style: italic;
}
.blog img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*-----------blog-------------*/
/*-----------work-------------*/
.work {
  padding: 100px 0;
  background-image: url(../public/images/wrapper.jpg);
  background-repeat: no-repeat;
  height: 80vh;
  text-align: center;
  position: relative;
  z-index: 9;
}
.work::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  background-image: url(../public/images/paper.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 10vh;
  transform: rotate(-180deg);
}
.work::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.4);
}
.work .container {
  position: relative;
  z-index: 9;
}
.work h1 {
  font-size: 80px;
  color: #fff;
  margin-top: 13%;
}
.work button {
  background-color: #fff;
  color: #000;
  border: 2px solid #fff;
  margin-top: 40px;
}
.work button:hover {
  color: #fff;
  border: 2px solid #fff;
}
/*-----------work-------------*/
/*-----------footer-------------*/
footer {
  padding: 50px 0;
  text-align: center;
  background-color: #000;
  color: #fff;
}
footer p {
  color: #fff;
}
/*-----------footer-------------*/
@media screen and (max-width: 768px) {
  /*-----------home-------------*/
  .home {
    height: 50vh;
  }
  .home h1 {
    font-size: 50px;
    margin-top: 60%;
  }
  /*-----------home-------------*/

  .Testimonials .row,
  .skill .row,
  .about .row {
    width: 100%;
  }
  .Testimonials .flexSB,
  .skill .flexSB,
  .about .flex {
    flex-direction: column;
  }
  .grid2,
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .Wrapper .container {
    max-width: 80%;
  }
  /*-----------work-------------*/
  .work {
    background-image: url(../public/images/wrapper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
  }
  .work::after {
    display: none;
  }
  .work::before {
    display: none;
  }
  .work .container {
    position: relative;
    z-index: 9;
  }
  .work h1 {
    font-size: 80px;
    color: #fff;
    margin-top: 13%;
  }
  .work button {
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
    margin-top: 40px;
  }
  .work button:hover {
    color: #fff;
    border: 2px solid #fff;
  }
  /*-----------work-------------*/
}
